<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= "#{current_page.data.title} | Bitty Brella" || "Bitty Brella" %></title>
    <link href="https://fonts.googleapis.com/css2?family=Grenze:ital,wght@0,300;0,700;0,900;1,300;1,700;1,900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <header class="header">
      <nav class="nav-primary">
        <%=link_to "Bitty Brella", "/", class: "nav-logo" %>
        <%=link_to "Locations", "/location" %>
        <%=link_to "Wedding & Events", "/events" %>
        <%=link_to "About", "/about" %>
        <%=link_to "Contact", "/contact" %>
      </nav>
    </header>
    <%= yield %>
    </div>
  </body>
</html>
